body {
    margin: 0;
}

.square-button {
    width: 60px;
    /* You can adjust this as per your requirement */
    height: 100%;
    background-color: black;
    /* Default button color */
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    padding: 0;
}

.square-button:hover {
    background-color: white;
    /* Color when button is highlighted */
}

.square-button:hover>.plus {
    background-color: white;
}

.login-button {
    background-color: white;
    color: black;
    width: 80px;
    height: 40px;
    border-radius: 0px;
    border: 0px;
    /* padding: 5px 15px; */
    margin-right: 12px;
    cursor: pointer;
    outline: none;
    text-align: center;
    padding: 0;
    font-size: 13px;
}

.login-button:hover {
    background-color: #cecece;
    color: black;
}

.login-button:active {
    color: white;
}

.top-bar {
    background-color: black;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* This will push child items to the edges */
    align-items: center;
    /* padding: 0 20px; */
}

.plus {
    background-color: black;
    border: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    font-size: 20px;
}

.plus:hover {
    color: black;
    background-color: white;
}

.sidebar {
    width: 16%;
    height: 2000px;
    background: linear-gradient(to bottom, #000000, #c8c8c8)
}

.sidebar-title {
    height: 50px;
    width: 100%;
    color: #f5f5f5e4;
    display: flex;
    justify-content: center;
    /* centers horizontally */
    text-align: center;
    align-items: center;
}

.sidebar-title-inner {
    display: inline-grid;
    align-items: center;
    /* vertically center */
    height: 80%;
    width: 80%;
    color: black;
    background-color: white;
    font-size: 17px;
}

.sidebar-text {
    font-size: 16px;
}


.sidebar-option {
    width: 100%;
    height: 40px;
    color: #f5f5f5e4;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}

.sidebar-option-selected {
    width: 100%;
    height: 40px;
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}

.sidebar-option:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.sidebar-option:active>.sidebar-text {
    color: white;
}

.sidebar-add-button {
    width: 100%;
    height: 50px;
    color: #f5f5f5e4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-add-button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}


.plus-sidebar {
    background-color: transparent;
    border: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    font-size: 20px;
}

.sidebar-add-button:hover>.plus-sidebar {
    background-color: white;
    color: black;
}

.sidebar-add-button:active>.plus-sidebar {
    color: white;
}

.graph-square {
    border: 1px solid gray;
    /* height: 40vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.add-graph-area {
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 0;
    border-radius: 0;
}

.plus-graph {
    color: #5f5f5f;
    font-size: 40px;
}

.add-graph-area:hover {
    cursor: pointer;
    background-color: #e8e8e8;
}

.add-graph-area:active {
    background-color: #d1d1d1 !important;
}

.add-graph-area:active>.plus-graph {
    color: white;
}

.dropdown {
    width: 60%;
    margin: 5px;
}

.dropdown-small {
    width: 120px;
    margin: 5px;
}

.advanced-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin: 5px;
}

.main-graph {
    width: 100%;
    height: 100%;
}

.modal-content {
    border-radius: 0;
}

.graph-container {
    width: 100%;
    height: 100%;
}

.filled-container {
    width: 100%;
    height: 100%;
    /* margin-bottom: 20px; */
    position: relative;
}

#radio-input {
    text-align: center;
    color: white;
}

#radio-input label:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.view-menu-button {
    /* position: absolute; */
    /* z-index: 1000; */
    width: 40px;
    height: 40px;
    background-color: black;
    /* border: 1px solid white; */
    margin-right: 10px;
    border: 0;
}

.view-menu-button:hover {
    background-color: rgb(72, 72, 72);
}

.view-menu-button:active {
    background-color: rgb(30, 30, 30);
}

#table-view-container {
    width: 100%;
    height: 100%;
}

/* #graph-view-container {
    width: 100%;
    height: 100%;
} */

#content-container {
    width: 100%;
    height: 100%;
}

.grid-container {
    /* display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%; */
    width: 100%;
    height: 90vh;
    /* or any other fixed size */
    /* gap: 0px; */
    /* spacing between the grid items */
}

.grid-item {
    border: 1px solid #aaaaaa;
    width: 100%;
    height: 100%;
}

.graph-menu-options {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 48px;
    height: 24px;
    /* display: flex; */
    flex-direction: row;
    display: none;
    margin-right: 20px;
    border: 0;
    background-color: black;
}

.graph-menu-button {
    background-color: #111111;
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.graph-menu-button:hover {
    background-color: rgb(122, 122, 122);
}

.graph-menu-button-img {
    width: 20px;
    height: 20px;
}

.filled-container:hover .graph-menu-options {
    display: flex;
}

.react-resizable-handle {
    visibility: hidden;
    z-index: 2000;
    background-image: url('data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHJlY3QgeD0iMTUiIHk9IjUiIHdpZHRoPSIyIiBoZWlnaHQ9IjEwIiBmaWxsPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuNSkiIHN0cm9rZT0idHJhbnNwYXJlbnQiIHN0cm9rZS13aWR0aD0iMiIvPgogIDxyZWN0IHg9IjUiIHk9IjE1IiB3aWR0aD0iMTIiIGhlaWdodD0iMiIgZmlsbD0icmdiYSgyNTUsIDI1NSwgMjU1LCAwLjUpIiBzdHJva2U9InRyYW5zcGFyZW50IiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==');
    width: 20px;
    height: 20px;
}

.react-grid-item:hover .react-resizable-handle {
    visibility: visible;
    position: absolute;
}

#levelup-modal {
    width: 600px;
    height: 400px;
}

#levelup-modal-body {
    background: linear-gradient(to bottom right, #CDA2D5, cyan) !important;
    height: 300px;
    width: 100%;
}

#levelup-message-container {
    display: flex;
    /* Enable Flexbox */
    flex-direction: row;
    /* Stack children vertically */
    align-items: flex-start;
    /* Align items to the start of the container */
    height: 300px;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Set a specific height for the container */
}

.levelup-msg {
    margin: 5px;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.levelup-msg-level-from {
    /* Makes the text bold */
    background: linear-gradient(45deg, blue, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.levelup-msg-level-to {
    /* Makes the text bold */
    background: linear-gradient(45deg, #dec520, #ff45bb);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}